<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
{% extends 'navbar.html' %}
{% block content %}
    <div class="container" data-target="#navbar-example2" data-offset="0">
        <!--공, 지 . 사 . 항-->
        <section style="background: rgb(122, 58, 61); background-size: cover; padding: 10px 0 15px 0; margin: 30px 0px 0px 0px;">
            <div class="container">
                <div class="row">
                    <div class="jumbotron" ,  style="margin: 3% 3% 3% 3%">
                        <h2> <strong>  안내사항</strong></h2>
                        <div role="separator" class="dropdown-divider" style="border-color: #000; margin: 0 30% 50px 30%; margin: 0 0 0;"></div>
                        <p class="lead">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4><strong>대학안내</strong></h4>
                                            <img src="/static/img/map.jpg" alt="" style="width: 100%;height: auto;">
                                        </td>
                                    </tr>   
                                    <tr>
                                        <td>
                                            <p>한국교통대학교는 우수한 교수진과 교육&middot;연구 인프라를 바탕으로 창의와 열정을 가진 글로벌 인재를 양성하고 있습니다. 특히, 국내 유일의 교통 특성화 대학으로서 녹색기반 신성장 동력분야(충주), 보건&middot;의료&middot;생명분야(증평), 철도&middot;교통분야(의왕)로 각각 특성화된 3개의 캠퍼스를 갖추고 있습니다. </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4> <strong> 분실물 신고접수</strong></h4>
                                            <p> 010-0000-0000</p>
                                        </td>
                                    </tr>
                                    <br>
                                    <br>
                                    <tr>
                                        <td>
                                            <h4> <strong> 기숙사 통금 연장</strong></h4>
                                            <p>&nbsp;&nbsp; &lt;추가 개방&gt;<br>✓ 2:00~2:05<br>✓ 3:00~3:05</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- footer -->
    <footer id="footer" style="background: #111; padding: 0 0 30px 0; color: #eee; font-size: 14px">
        <div class="footer-top" style="background: #000;padding: 60px 0 30px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-info" style="margin-bottom: 30px;">
                        <h3 style="font-size: 34px; margin: 0 0 20px 0; padding: 2px 0 2px 10px; line-height: 1; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif; font-weight: 700; letter-spacing: 3px; border-left: 4px solid rgb(122, 58, 61)">한국교통대</h3>
                        <p style="font-size: 14px; line-height: 24px; margin-bottom: 0;">
                            <strong>
                                국내 최초의 교통 특성화 국립대학<br>
                            </strong>
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <ul style="list-style: square;">
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>관련 링크</h4>
                        <ul style="list-style: square;">
                            <li><a href="http://www.ut.ac.kr/kor.do" style="display: inline-block; color: #eee; border-radius: 50%; margin-right: 4px; text-align: center;">교통대 홈페이지</a></li>
                            <li><a href="http://www.ut.ac.kr/kor/sub01_06_01.do" style="display: inline-block; color: #eee; border-radius: 50%; margin-right: 4px; text-align: center;">찾아오시는 길</a></li>
                            <li><a href="http://www.weather.go.kr/weather/main.jsp" style="display: inline-block; color: #eee; border-radius: 50%; margin-right: 4px; text-align: center;">기상청</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>담당자 정보</h4>
                        <p>
                            충청북도 충주시 대학로 50<br>
                            27469<br>
                            <strong>TEL:</strong> 043-841-5114<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                한국교통대학교 멋쟁이사자처럼 7기
            </div>
        </div>
    </footer>
</body>
</html>
{% endblock %}